.airport-marker {
  background: none;
  font-family: 'Poppins';
  font-weight: bold;
  opacity: .8;
  text-align: center;
  display: flex;
}

.airport-marker:hover {
  cursor: grab;
}

.airport-marker svg {
  margin-right: 5px;
}